<!DOCTYPE html>
<html>
    {{- partial "head.html" . -}}
    <body>
	<main>
        {{- partial "header.html" . -}}
        <div id="content">
        {{- block "main" . }}{{- end }}
        </div>
        {{- partial "footer.html" . -}}
	</main>
    </body>
</html>
