  <header class="top">
    <h1><a href="/">{{ .Site.Title }}</a></h1>
    <nav id="menu">
      <p>
	<a href="/" class="home">Accueil</a> | <a href="/posts/spectacle" class="spectacle">Spectacle</a> | <a href="/posts/erasme" class="erasme">Autour d'Erasme</a> | <a href="/posts/citations" class="citations">Citations</a> | <a href="https://ludwinedeblon.com/agenda/" class="agenda">Agenda</a> | <a href="/posts/liens" class="liens">Liens</a> | <a href="https://ludwinedeblon.com/contact/" class="contact">Contact</a>
    </nav>
    <!-- /#menu -->
  </header>
  <!-- /#banner -->
