<h1>Accueil</h1>
<!-- Include home page here -->


<p>Erasme est de retour ! Exhumé des vieux livres et réincarné dans une boulette de papier. Erasme au théâtre d’objets n’a rien perdu de son insolence : gare aux intégristes de tout poil…</p>
 
<p><i>Erasmus is terug! Uit de boeken opgegraven en in een balletje papier gereïncarneerd. In het objectentheater net zoals toen, blijft Erasmus  ironisch en bijtend… vooral als er integristen in de buurt zijn. </i></p>

<img src="https://dieuerameetmoi.files.wordpress.com/2015/01/dsc0150-copie.jpg?w=300&h=200">

<hr>

<p>Bienvenue. <i>Welkom.</i></p>

 
<p>Lire Erasme, c’est entamer un vrai dialogue : au fil des pages, on se prend à protester, acquiescer ou éclater de rire. Et lorsqu’on relève le nez, notre monde semble souvent engoncé dans les mêmes impasses, les mêmes dangers que le redoutable XVIe siècle. Ce spectacle est né de ce dialogue et de ces questions.</p>

<p><i>Erasmus lezen is de dialoog met hem aangaan: je protesteert, stemt in of barst in lachen uit. En als je opkijkt, lijkt het er op dat onze wereld nog steeds met dezelfde mistoestanden, uitzichtloze toestanden en gevaren als in de zestiende eeuw te kampen. Het idee van deze voorstelling is uit deze dialoog ontstaan.</i></p>


<hr>

<p>« Dieu Erasme et moi  » a été créé en français, avec Stéphane Georis à la mise en scène.</p>

<p><i>Daarna werd het in het Nederlands aangepast, dankzij Lucas Tavernier, onder de titel van « Erasmus en ik, God ». Deze website is dus gedeeltelijk tweetalig. De citaten van Erasmus komen uit franstalige uitgaven en werden niet in het Nederlands vertaald.</i></p>

