* {
 padding:0;
 margin:0
}

html {
  background-color: #fff5d1;
  font-size: 20px;
}

body {
  padding: 1rem;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

h1 {
  font-size: 2.5rem;
}

.top h1 {
  text-transform: uppercase;
}

.top {
  padding-bottom: .5rem;
  border-bottom: 2px solid black;
}

header a:hover {
  color: #adadad !important;
  text-decoration: none;
}

header a {
  text-decoration: none;
  color: black;
}

#content p {
  margin: 1rem auto;
  max-width: 33rem;
}

#post-header h1 {
  margin: 1rem 0 .5rem 0;
}


img {
  display: block;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.home {
  color: blue;
}

.spectacle {
  color: red;
}

.erasme {
  color: green;
}

.citations {
  color: orange;
}

.agenda {
  color: brown;
}

.liens {
  color: violet;
}

#content ul {
  margin: 1rem auto;
  max-width: 25rem;
}

hr {
  margin-top: .5rem;
  margin-bottom: .5rem;

  display: block;
  max-width: 60%;
  margin-left: 10rem;
}

#content h1 {
  margin: 1rem auto;
  max-width: 33rem;
}

.right {
  text-align: right;
}

.center {
  text-align: center;
}

h3 {
  margin: 1rem auto;
  max-width: 50rem;
}

#content ul ul {
  margin-left: 3rem;
}
